---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import MailchimpSignup from "@/components/finops/MailchimpSignup.astro";
---

<div class="text-center">
  <Text
    tag="h1"
    variant="display3XL"
    class="text-primary font-semibold tracking-tighter text-balance"
    >Bite-sized FinOps, every day.</Text
  >

  <MailchimpSignup buttonText="Get daily tips" />
</div>
