---
import Text from "@/components/fundations/elements/Text.astro";
import BlogEntry from "@/components/blog/BlogEntries.astro";
import { getCollection } from "astro:content";

const { title, tag, limit = 3 } = Astro.props;

const allPosts = await getCollection("posts");
const posts = allPosts
  .filter((p) => (tag ? p.data.tags?.includes(tag) : true))
  .sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime())
  .slice(0, limit);
---

<div>
  <Text tag="h2" variant="textBase" class="font-medium text-primary">{title}</Text>
  <div class="flex flex-col mt-1 divide-primary/10 border-primary/10 divide-y border-y">
    {posts.map((post) => <BlogEntry post={post} />)}
  </div>
</div>
